.b-header
    .b-header__title
        | The best
        span UX references
        |, organized by industry
    .b-header__links
        ul.links.links--left
            li.current-link
                a(href='#').current Desktop
            li
                a(href='#') Mobile
            li
                a(href='#') Tablet
        ul.links.links--right
            li.popup-link#about-page About
            li.popup-link#submit-page Submit page