.b-header
    .b-header__title
        ul.links.links--left
            li.current-link
                a(href='#').current Desktop
            li
                a(href='#') Mobile
            li
                a(href='#') Tablet
    .b-header__links
        span.b-card__like 113
            svg(class='svg-icon svg-icon-like')
                use(xlink:href='common/icons/icons.svg#icon-like')