.b-popup#popup-2
    .b-popup__container
        .b-text-block
            h1.e-title Submit
            p.e-text Have you seen an email that just made you smile, was well designed, or that you just felt we should feature? Send it our way and tell us why you think it’s a Really Good Email. The weirder the better.
        .b-text-block
            span.e-label Your Name
            input.e-textfield(type="name" placeholder="What’s your name?")
        .b-text-block
            span.e-label Your Email Address
            input.e-textfield(type="email" placeholder="Your Email Address")
        .b-text-block
            span.e-label Industry
            .e-select
                select(name='' id='')
                    option(value="" disabled="disabled" selected="selected") Select an industry
                    option Select an industry1
                    option Select an industry2
                    option Select an industry3
                    option Select an industry4
                    option Select an industry5

        .b-text-block
            span.e-label Page URL
            input.e-textfield(type="text" placeholder="What you want to add?")

        .b-text-block
            button.e-button Submit page


