.b-popup#popup-1
    .b-popup__container
        .b-text-block
            h1.e-title About
            p.e-text Hi new friend! Really Good Emails (RGE for short) aims to be the best showcase of email design and resources on the web. We’re providing transparency into product email and customer email cycles that are not available anywhere else.
            p.e-text This 2,750+ handpicked collection is powered by community submissions and our own obsessive drive to find the best email examples out there. Want your campaign featured? Send it to us.
            p.e-text If you are curious about the people behind the site, you may need to buy us a drink first and give us a secret handshake. For now, here are some glamour shots:
        .b-text-block
            h1.e-title.e-title--small Our team
            .b-text-block__member
                .e-member-img
                .e-member-name
                    .e-member-name__text Denis Shershnev
                    .e-member-name__link ohmyinterface.com
            .b-text-block__member
                .e-member-img
                .e-member-name
                    .e-member-name__text Denis Shershnev
                    .e-member-name__link ohmyinterface.com
            .b-text-block__member
                .e-member-img
                .e-member-name
                    .e-member-name__text Denis Shershnev
                    .e-member-name__link ohmyinterface.com

        .b-text-block
            a(href='mailto:hello@roky.rocks').e-button Mail us


