.b-sidebar.b-sidebar--second-page
    .b-sidebar__logo
        .more-information.more-information--collapse
            .more-information-box
                .more-information-inner
                    svg(class='svg-icon svg-icon-more')
                        use(xlink:href='common/icons/icons.svg#icon-more')
        a(href='index.html').logo-link
        h5.logo-back Back
            svg(class='svg-icon svg-icon-back')
                use(xlink:href='common/icons/icons.svg#icon-arrow-back')



    .b-sidebar__details
        h5.b-card__name Catholic Syrian Bank
        p.b-card__tag-description Finance, bank

    .b-sidebar__autorname
        .e-member-name
            .e-member-name__text Denis Shershnev
            .e-member-name__link
                a(href='#') ohmyinterface.com
        .b-text-block
            p.e-text Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni.  dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem ipsum, quia dolor sit, amet, consectetur.
    .b-sidebar__copyright
        h5
            | Made by
            a(href="#") Eulerr
            br
            |  and
            a(href="#") Nikolay Ivanov